*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 1px solid gray;
} /* Reset borders */

/* gen styles */
 body{
    line-height: 1.5 ;
 }
 h3{
    text-transform: uppercase;
    font-size: 20px
 }
 h4{
    text-transform: uppercase;
 }
 a{
    text-decoration: none;
 }
 section{
    padding: 4% 0;
 }
/* Header section styles */
header{
    background-color: #6bcaab;
}
nav{
    display:flex;
    justify-content: space-between;
}

.responExample{
    display: none;  /* by default this will not show but can be changed in tablet or mobile view*/
}
.headImg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

/* About styles */
.grid1{
    display: flex;
    flex-direction: row;
}

.grid1 div{
    width: 50%;
}
.grid2{
    display: flex;
    flex-direction: row;
}
.grid2 div{
    width: 50%;
}

/* Menu Styles */
#Menu{
    background-color: #fdcf3f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh;
}

/* Footer Styles */


.grid3, .grid4, .grid5{
    display: flex;
    flex-direction: row;
}
.grid3 div, .grid4 div, .grid5 div{
    width: 50%
}
/* .grid4{
    display: flex;
    flex-direction: row;
}
.grid5{
    display: flex;
    flex-direction: row;
} */

/* .text{
    display: flex;
    justify-content: space-between;
    
} */



/* Responsive styles*/

/*tablet media query*/
@media screen and (max-width: 880px) {

 /*general styles */

    body{
     background-color: green;
    }
 /* header */
    .top{
     display: none;  /*  this will not show but can be changed in tablet view but does in default view and now ".responExample" will show    */
    }
    .responExample{
        display:block;
    } /*COMEBACKTO*/
 /* About */
 /* Menu */
 /* Footer */

} 


/*mobile */
@media screen and (max-width: 550px) {

 /*general styles */

    body{
        background-color: blue;
    
    }
 /* header */

 /* About */
 /* Menu */
 /* Footer */
} 